
* {
  font-family: 'Montserrat', sans-serif !important;
font-family: 'Roboto', sans-serif !important;
}


.App {
  text-align: center;
}
.navbar {
  background-color: black !important;

}

#navbar-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  width: 100%;
  font-size: 25px;
  margin: 0 auto;
  left: 0;
  color: white;
  min-height: 40px;

}

.jumbotron {
  background-image: url('../src/img/jumbotron_bg.jpg');
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  color: white;

}


.jumbotron h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
}

#jumbotron_sublead {
  font-size: 50px;
  padding-top: 25vh;

}

#jumbotron_lead {
  font-size: 70px;

}

#jumbotron_description {
  font-size: 25px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

.login-button {
  margin-top: 70px;
  border: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  line-height: 3.0;
  padding: 0 40px;
  border-radius: 30px;
  background-color:#4db756;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.7s;
}

.login-button:hover {
  background-color: #59d461;
}

#proceed-botton {
  margin-top: 20vh;
  height: 70px;
  width: auto;
  transition: 0.5s;

}

#proceed-botton:hover {
  transform: scale(1.2);
}


@media only screen and (max-width: 650px) {

.jumbotron h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
}

#jumbotron_sublead {
  font-size: 35px;
  padding-top: 25vh;

}

#jumbotron_lead {
  font-size: 50px;

}

#jumbotron_description {
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

.login-button {
  margin-top: 50px;
  border: 0;
  font-size: 1.0rem;
  text-align: center;
  color: #fff;
  line-height: 3.0;
  padding: 0 40px;
  border-radius: 30px;
  background-color:#4db756;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.7s;
}

}




/* User Stats Styling */


.user_stats {
  min-height: 100vh;
  background-color: black;
  color: white;



}

#user_stats_title {
  padding-top: 5vh;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
  font-size: 60px;
  margin: 0 auto;
}


#user_stats_artist_cont {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-image: url('../src/img/exalb.jpg');
  background-repeat: round;
  margin-bottom: 30px;

}


#user_stats_main_row {
  margin-top: 5vh;
}




#user_stats_artist_name {
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  text-shadow: 2px 2px 1px #000000;
  
}

#user_stats_artist_text {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  text-shadow: 2px 2px 1px #000000;
  padding-bottom: 50px;
  padding-top: 20px;
}

#user_stats_favorite_img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 15px;
}

#user_stats_favorite_img:hover {
  transform: scale(1.1);
}

#user_stats_album_title{
  font-size: 30px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
  text-shadow: 2px 2px 1px #000000;

}

#other_artist_container {
  height: 120px;
  width: 400px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 30px; 
  overflow: hidden;
  transition: 0.5s;
  border-radius: 15px;


}

#other_artist_container:hover {
  transform: scale(1.1);
}


#user_stats_other_artist_img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
}

#user_stats_other_artist_name {
  padding-left: 20px;
  line-height: 120px; 
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  text-shadow: 2px 2px 1px #000000;
  width: 250px;
  overflow-wrap: break-word;
  text-align: left;
}
#user_stats_other_artist_name h2:hover {
  color: white;
  text-decoration: none;

}


.user_stats {
  background: linear-gradient(-60deg, #04619F, #000000, #28313B, #485461);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


/* Mobile Text Optimization  */
@media only screen and (max-width: 1200px) {
  #user_stats_artist_name,
  #user_stats_other_artist_name {
    font-size: 18px;
  }

  #user_stats_artist_text {
    font-size: 30px;

  }

  #user_stats_main_row {
    margin-top: 3vh;
  }

  #user_stats_favorite_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  #user_stats_title {
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
    font-size: 35px;
    margin: 0 auto;
  }
  
}

@media only screen and (max-width: 800px) {
  #user_stats_artist_name,
  #user_stats_other_artist_name {
    font-size: 23px;
    line-height: 100px; 
  }

  #user_stats_artist_text {
    padding-bottom: 10px;
  }

  #user_stats_artist_text {
    font-size: 20px;

  }

  #user_stats_main_row {
    margin-top: 2vh;
  }

  #user_stats_favorite_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  #user_stats_title {
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
    font-size: 20px;
    margin: 0 auto;
  }

  #other_artist_container {
    height: 100px;
    width: 270px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 30px; 
    overflow: hidden;
  }


  
  #user_stats_other_artist_img {
    width: 110px;
    height: 120px;
    object-fit: cover;
    overflow: hidden;
  }
  
  #user_stats_other_artist_name {
    line-height: 100px; 

    font-size: 14px;
    font-family: 'Montserrat', sans-serif !important;
    width: 120px;
    overflow-wrap: break-word;
    text-align: left;
  }
  


}

/* User's Favorite Tracks */

#user_tracks_track_container {
  min-height: 200px;
  width: auto;
  background-color: black;
  margin-right: 50px;
  margin-bottom: 50px;
  top: 0;
  transition: top ease 0.5s;
  border-radius: 15px;


}

#user_tracks_track_container:hover{ 
  position: relative; 
  top: -10px;} 

#user_tracks_track_container h4 {
  font-size: 17px;
  overflow-wrap: break-word;
  font-weight: 600;
}

#user_tracks_track_container h5 {
  font-size: 15px;
  overflow-wrap: break-word;

}


#user_tracks_stats_title {
  padding-top: 5vh;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
  font-size: 60px;
  margin: 0 auto;
}


#users_tracks_main_cont {
  margin-top: 5vh;
}

#user_tracks_img {
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* Mobile Text Optimization  */
@media only screen and (max-width: 1000px) {
  #user_tracks_track_container {
    width: 60%;
    margin: 0 0 0 0 ;
    margin: 0 auto;
    margin-bottom: 20px;

  }

 
}

/* User recommendations Styling */

#user_recommendations_favorite_img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 15px;
}

#user_recommendations_favorite_img:hover {
  transform: scale(1.1);
}

#rec_container {
  margin-right: 300px;
  text-align: center;
}

#user_recommendations_artist_name {
  margin-top: 20px;
  margin-bottom: 40px;

  font-size: 30px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  text-shadow: 2px 2px 1px #000000;
  width: 300px;
  
}


@media only screen and (max-width: 600px) {

  #user_stats_title {
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
    font-size: 27px;
    margin: 0 auto;
  }

  #rec_container {
    margin: 0 auto;
    overflow: hidden;
  }

  #user_recommendations_favorite_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 15px;
  }
  
  
  #user_recommendations_artist_name {
    margin: 0 auto;
    margin-bottom: 30px; 
    margin-top: 20px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif !important;
    overflow-wrap: break-word;
    text-align: center;
  }
  


}
